annotated-doc
annotated-types
anyio
build
certifi
charset-normalizer
click
colorama
docker
fastapi
h11
idna
packaging
pip-tools
pydantic
pydantic-settings
pydantic_core
pyproject_hooks
python-dotenv
pywin32
requests
sniffio
starlette
typing-inspection
typing_extensions
urllib3
uvicorn
watchfiles
